[include]
    path = .gitconfig.user

[pull]
    ff = only

[push]
    # must specify what to push
    # unless remote.*.push specifies otherwise
    # # which is usually doesn't
    default = nothing

[merge]
    tool = meld
    #tool = vimdiff
    conflictstyle = diff3
    prompt = false

[rebase]
    autosquash = true

[diff]
    tool = meld
    #tool = vimdiff

[difftool]
  prompt = false

[clone]
  recurse-submodules = true

[core]
    pager = less -+X
    editor = vim

[alias]
    b = branch
    bd  = branch -D
    bm = ! git fetch --all --quiet && ~/bin/git_branch_merged
    po = push origin
    comaa = commit -a --amend
    coma = commit -a
    comaf = commit -a --fixup
    c  = checkout
    cb = checkout -b
    fa = ! git fetch --all --tags --recurse-submodules && echo "======local branch summary======" && ~/bin/git_branch_merged
    cleanup = clean -dxi
    tlog = log --oneline origin/master..HEAD --no-decorate
    supdate = submodule update --init --recursive

[grep]
    exclude = locale

[log]
    decorate = auto

[advice]
	detachedHead = false
